<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" shutdownHook="disable"> 
    <Appenders> 
        <Console name="STDOUT" target="SYSTEM_OUT"> 
            <PatternLayout pattern="%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{black} %highlight{[%level]} %style{[%t] %c{1}}{blue}: %msg%n%throwable" disableAnsi="false" /> 
        </Console>
    </Appenders> 
    <Loggers> 
        <!-- <Logger name="org.hibernate.SQL" level="DEBUG"> 
            <AppenderRef ref="FILE"/> 
        </Logger> 
        <Logger name="org.hibernate.type.descriptor.sql" level="TRACE"> 
            <AppenderRef ref="FILE"/> 
        </Logger>  -->
        <Root level="info"> 
            <AppenderRef ref="STDOUT"/> 
        </Root> 
    </Loggers> 
</Configuration>